html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

body {
    color: #3F3E37;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    top: 0;
    left: 0;
    background-image: URL("../images/backgroundlines2.jpg");
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

strong {
    font-weight: bold;
}

canvas {
    position: absolute;
}

#field {
	background-color: black;
}

.tiltleft {
	background:  url("../images/left_button_pressed.png");
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tiltright {
	background:  url("../images/right_button_pressed.png");
	background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.shakephone {
    background-image: url("../images/superpower_button.png");
    background-size: contain;
}

.button {
    background: #EBE7DC;
    padding: 10px;
    color: #666666;
    text-decoration: none;
}

.button:hover {
    background: #D9D6CB;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.layer {
    width: 100%;
    height: 100%;
}

.light {
    background-color: #F7F6F2;
}

.inactive {
    color: #969696;
}

#layer-menu table {
    margin: auto;
    height: 100%;
}

.player .title {
    float: left;
    width: 240px;
}

.player .keys {
    float: left;
    font-size: 28px;
    margin: 19px;
}

#content {
    width: 100%;
    height: 100%;
}

#content-left {
    width: 70%;
    height: 100%;
    float: left;
}

#content-right {
    padding: 2% 5%;
    width: 20%;
    float: left;
    height: 96%;
	visibility:hidden;
}

#menu {
    padding: 30px;
    width: 580px;
}

#menu-intro {
    padding: 10px;
    margin-bottom: 20px;
}

#menu-players .player > div {
    float: left;
}

#menu-players .player > div > * {
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    font-size: 28px;
    line-height: 40px;
}

#menu-players .head div {
    float: left;
    font-size: 18px;
    background: #D9D6CC;
    padding: 5px 0;
}

#menu-players .head div *{
    padding: 5px 10px;
}

#menu-players .title {
    width: 160px;
    margin: 0 1px 1px 0;
}

#menu-players .key {
    text-align: center;
}

#menu-players .key.left,
#menu-players .key.right {
    width: 60px;
    margin: 0 1px 1px 0;
}

#menu-players .superpower .key {
    width: 40px;
    margin: 0 1px 1px 0;
}

#menu-players-list div,
#menu-players-list2 div {
    cursor: pointer;
}

#menu-players-list .title,
#menu-players-list .key.left,
#menu-players-list .key.right,
#menu-players-list .superpower .key,
#menu-players-list .superpower .superpowerType, 
#menu-players-list2 .title,
#menu-players-list2 .key.left,
#menu-players-list2 .key.right,
#menu-players-list2 .superpower .key,
#menu-players-list2 .superpower .superpowerType 
{
    border-bottom: 1px solid #D9D6CC;
}

#menu-players .superpower {
    width: 297px;
}

#menu-players .superpower .key {
    float: left;
    margin-right: 1px;
}

#menu-players .superpowerType {
    font-size: 18px;
    width: 216px;
    height: 40px;
    float: left;
    overflow: hidden;
}

#menu-players .superpowerType div {
    float: left;
    font-size: 18px;
}

#menu-players .superpowerType .left {
    width: 15px;
    height: 32px;
    background: url('../images/graphics.png') 35px 0px;
    margin-top: 5px;
}

#menu-players .superpowerType .right {
    width: 15px;
    height: 32px;
    background: url('../images/graphics.png') 15px 0px;
    margin-top: 5px;
    float: right;
}

#menu-players .superpowers {
    width: 165px;
    padding: 0 10px;
}

#menu-players .superpowers div {
    width: 100%;
    text-align: center;
}

#lightbox-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#lightbox-wrap {
    height: 100%;
}

#lightbox-wrap table {
    height: 100%;
    text-align: center;
    margin: auto;
}

#lightbox-content {
    background: #FFF;
    display: table-cell;
    padding: 20px;
    text-align: left;
    max-width: 60%;
    margin: auto;
}

#lightbox-content .button {
    padding: 15px;
    display: block;
    text-align: center;
}

#lightbox-content .deathmatch h1 {
    padding: 100px;
    font-size: 60px;
    margin: 0;
}

#player-scores {
    margin: 10px 0 10px 0;
}

#player-scores .title {
    width: 180px;
	float:right;
}

#player-scores .points {
    float: right;
    font-size: 40px;
}

.superpowerCircle {
    height: 7px;
    width: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin-top: 2px;
    margin-right: 2px;
    float: left;
}

.superpowerCircle.red {
    border: 2px solid #D4373E;
}

.superpowerCircle.green {
    border: 2px solid #3BCB69;
}

.superpowerCircle.blue {
    border: 2px solid #3B90C3;
}

.superpowerCircle.orange {
    border: 2px solid #FFA039;
}

.superpowerCircle.purple {
    border: 2px solid #7D11CD;
}

.superpowerCircle.pink {
    border: 2px solid #DC72FF;
}

#author {
    position: absolute;
    bottom: 15px;
    padding-right: 15px;
    font-size: 11px;
    color: #888;
    line-height: 1.4;
}

#author a,
#author a:visited{
    color: #888;
    text-decoration: none;
}

#author a:hover{
    color: #444;
    text-decoration: underline;
}

.key .arrow {
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
}

.key .arrow-left {
    margin: 9px 0 0 9px;
    border-width: 12px 18px 12px 0;
    border-color: transparent #FFA039 transparent transparent;
}

.key .arrow-right {
    margin: 9px 0 0 13px;
    border-width: 12px 0 12px 18px;
    border-color: transparent transparent transparent #FFA039;
}

.key .arrow-down {
    margin: 14px 0 0 8px;
    border-width: 18px 12px 0 12px;
    border-color: #FFA039 transparent transparent transparent;
}

.inactive .key .arrow-left {
    border-color: transparent #969696 transparent transparent;
}

.inactive .key .arrow-right {
    border-color: transparent transparent transparent #969696;
}

.inactive .key .arrow-down {
    border-color: #969696 transparent transparent transparent;
}

#button-menu {
    position: absolute;
    bottom: 70px;
}

#dark-knight {
    background: #222;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#lightbox-content .deathmatch h1 {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { color: #3F3E37; background: #FFF; }
    49% { color: #3F3E37; background: #FFF; }
    50% { color: #FFF; background: #3F3E37; }
    100% { color: #FFF; background: #3F3E37; }
}

@-webkit-keyframes blinker {
    0% { color: #3F3E37; background: #FFF; }
    49% { color: #3F3E37; background: #FFF; }
    50% { color: #FFF; background: #3F3E37; }
    100% { color: #FFF; background: #3F3E37; }
}

@keyframes blinker {
    0% { color: #3F3E37; background: #FFF; }
    49% { color: #3F3E37; background: #FFF; }
    50% { color: #FFF; background: #3F3E37; }
    100% { color: #FFF; background: #3F3E37; }
}